<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Sign up</h2>

		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		    <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %>
		    <%= f.input :password, required: true, input_html: { class: 'form-control' } %>
		    <%= f.input :password_confirmation, required: true, input_html: { class: 'form-control' } %>
		  </div>
			<br>
		  <div class="form-actions">
		    <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
		  </div>
		  <br>
		<% end %>

		<h4>or</h4><br>
			<div class="general">
				<ul class="social-icons squares">
				  <li class="tab">
				    <a href="/users/auth/facebook">
				      <i class="fa fa-facebook square"></i>
				      <span class="screen-reader">Facebook</span>
				    </a>
				  </li>
				  <li class="tab">
				    <a href="/users/auth/twitter">
				      <i class="fa fa-twitter square"></i>
				      <span class="screen-reader">Twitter</span>
				    </a>
				  </li>
					<li class="tab">
						<a href="/users/auth/vkontakte">
							<i class="fa fa-vk square"></i>
							<span class="screen-reader">Vkontakte</span>
						</a>
					</li>
					<li class="tab">
						<a href="/users/auth/odnoklassniki">
							<i class="fa fa-odnoklassniki square"></i>
							<span class="screen-reader">OK</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
