<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Sign in</h2>

		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-inputs">
		    <%= f.input :email, required: false, autofocus: true, input_html: { class: 'form-control' } %>
		    <%= f.input :password, required: false, input_html: { class: 'form-control' } %>
				<div class="form-style">
					<%= f.input :remember_me, as: :boolean, input_html: { class: 'radio-inline' } if devise_mapping.rememberable? %>
				</div>
			</div>

		  <div class="form-actions">
		    <%= f.button :submit, "Sign in", class: 'btn btn-primary' %>
		  </div>
		  <br>
		<% end %>

	<h4>or</h4><br>
		<div class="general">
			<ul class="social-icons squares">
				<li class="tab">
					<a href="/users/auth/facebook">
						<i class="fa fa-facebook square"></i>
						<span class="screen-reader">Facebook</span>
					</a>
				</li>
				<li class="tab">
					<a href="/users/auth/twitter">
						<i class="fa fa-twitter square"></i>
						<span class="screen-reader">Twitter</span>
					</a>
				</li>
				<li class="tab">
					<a href="/users/auth/vkontakte">
						<i class="fa fa-vk square"></i>
						<span class="screen-reader">Vkontakte</span>
					</a>
				</li>
				<li class="tab">
					<a href="/users/auth/odnoklassniki">
						<i class="fa fa-odnoklassniki square"></i>
						<span class="screen-reader">OK</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
