<article class="open-post">
  <section class="post-head">
    <h2  class= 'post-heading'><%= @post.title %></h2>
      <section class="post-body">
        <div class="post-content">
          <%= raw @post.body %>
        </div>
      </section>
    <small>
      <time><%= @post.created_at.to_date.strftime("%d %B, %Y") %></time>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
    </small>
  </section>

  <%#= image_tag @post.image.url %>

<p>
  <%= link_to 'Back', posts_path, class: 'btn btn-default btn-back' %>
</p>

<% accounts = Account.where(user_id: [current_user.id]).select(:provider).each do |q| %>

  <% if q.provider == 'twitter' %>

    <%= form_for :body, url: send_tweet_path, method: :post do |f| %>
      <%= f.hidden_field :body, { value: @post.body }%>
      <%= f.submit "Send Tweet", class: 'btn btn-primary' %>
    <% end %>

  <% elsif q.provider == 'vkontakte' %>

    <%= form_for :body, url: send_vk_path, method: :post do |f| %>
      <%= f.hidden_field :body, { value: @post.body }%>
      <%= f.submit "Send to VK", class: 'btn btn-primary' %>
    <% end %>

  <% elsif q.provider == 'google_oauth2' %>

    <%= form_for :body, url: send_vk_path, method: :post do |f| %>
      <%= f.hidden_field :body, { value: @post.body }%>
      <%= f.submit "Send to Google+", class: 'btn btn-primary' %>
    <% end %>

  <% elsif q.provider == 'facebook' %>

    <%= form_for :body, url: send_fb_path, method: :post do |f| %>
      <%= f.hidden_field :body, { value: @post.body }%>
      <%= f.submit "Send to Facebook", class: 'btn btn-primary' %>
    <% end %>

    <% elsif q.provider == 'Odnoklassniki' %>

      <%= form_for :body, url: send_odnoklassniki_path, method: :post do |f| %>
        <%= f.hidden_field :body, { value: @post.body }%>
        <%= f.submit "Send to OK", class: 'btn btn-primary' %>
      <% end %>

  <% end %>
<% end %>

</article>
